<ion-content class="ion-padding-bottom ">
  <h2 style="margin: 15px;font-weight: 900;">Home</h2>
    <ion-searchbar [(ngModel)]="search" name="search" placeholder="{{'Search'|translate}}" (click)="productSearch()">
    </ion-searchbar>

  <app-banner></app-banner>

  <!-- Flash sale items products -->
  <h4 style="text-align: center; margin: 10px; font-weight: bold;">
    Shop by category
  </h4>
  <app-categories [type]="'grid'"></app-categories>

  <div class="module" *ngIf="shared.flashSaleProducts.length!=0">
      <h4 style="text-align: center; margin: 10px; font-weight: bold;">
        {{'Flash Sale'|translate}}
      </h4>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let p of shared.flashSaleProducts">
        <app-product [data]="p" [type]="'flash'"></app-product>
      </ion-slide>
    </ion-slides>
  </div>
    <h4 style="text-align: center; margin: 10px; font-weight: bold;">
      {{ 'Newest Products' | translate }}
    </h4>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let p of shared.tab1">
      <app-product [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button fill="clear" (click)="openProducts('latest')"> {{'Shop More'| translate}}
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

  <h4 style="text-align: center; margin: 10px; font-weight: bold;">
    {{ 'On Sale Products' | translate }}
  </h4>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let p of shared.tab2">
      <app-product [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button fill="clear" (click)="openProducts('special')"> {{'Shop More'| translate}}
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

  <h4 style="text-align: center; margin: 10px; font-weight: bold;">
    {{ 'Featured Products' | translate }}
  </h4>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let p of shared.tab3">
      <app-product [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button fill="clear" (click)="openProducts('most liked')"> {{'Shop More'| translate}}
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
 
    <h4 style="text-align: center; margin: 10px; font-weight: bold;">
      {{ 'Recently Viewed' | translate }}
    </h4>
  <!-- recently viewed swipe slider -->
  <ion-slides #recentSlider [options]="sliderConfig">
    <ion-slide *ngFor="let p of shared.recentViewedProducts">
      <app-product [data]="p" [type]="'recent'"></app-product>
    </ion-slide>
  </ion-slides>


</ion-content>