ion-content {
  
  background-color: #ffffff;
  .swiper-slide {
    max-width: 40%;
  }
  ion-slides {
    ion-slide {
      &:last-child {
        height: auto;
      }
    }
  }

  app-product {
    width: 100%;
  }
}
.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

.searchbar-input.sc-ion-searchbar-md {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12) !important;
  border-radius: 25px !important;
}