

<ion-content class="ion-padding ogin-bg" >
  <ion-button fill="clear" style="color: white;" (click)="dismiss()">CLOSE
   
  </ion-button>

  <div class="heading">
    <h1 style="font-weight: 700; color: white;">Login</h1>
    <p style="font-weight: bold; color: white;">Please sign in to continue</p>
</div>

  <!-- <ion-img src="assets/icons_stripe.svg"></ion-img> -->
  <form #loginForm="ngForm" class="form" (ngSubmit)="login()">
    <ion-item style="margin-left: 20px;" class="round-input">
      <ion-label position="floating">{{'Mobile Number'|translate}}</ion-label>
      <ion-input type="text"  name="email" [(ngModel)]="formData.email" required>
        <ion-icon name="phone" color="primary" slot="start"></ion-icon>

      </ion-input>
    </ion-item>

    <ion-item class="round-input">
      <ion-label position="floating">{{'OTP'|translate}}</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="formData.password" required>
      </ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="errorMessage!=''">
      <ion-label>
        {{errorMessage| translate}}
      </ion-label>
    </ion-item>


    <ion-button [disabled]="!loginForm.form.valid" shape="round" class="btn-yellow" color="secondary"  type="submit">
      {{ 'Login' | translate }}
    </ion-button>

  </form>

  <ion-button expand="full" fill="clear" color="dark" (click)="openForgetPasswordPage()">{{ "I've forgotten my
      password?" | translate }}</ion-button>

  <ion-button expand="full" *ngIf="config.fbButton==1" (click)="facebookLogin()">{{ 'Login with' | translate }}
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button color="danger" expand="full" *ngIf="config.googleButton==1" (click)="googleLogin()">
    {{ 'Login with' | translate }}
    <ion-icon name="logo-google"></ion-icon>
  </ion-button>
  <ion-button expand="block" fill="outline" (click)="openSignUpPage()">{{ 'Register' | translate }}</ion-button>
  <ion-button expand="block" *ngIf="!hideGuestLogin" [disabled]="shared.cartProducts.length==0" (click)="guestLogin()">
    {{'Continue as a Guest'|translate}}</ion-button>
  <!-- *ngIf="config.guestCheckOut && hideGuestLogin" -->
</ion-content>