ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
    ion-icon {
      zoom: 1.4;
    }
  }
}

ion-content {
  --background: none; 
  background-image: url('/assets/login_bg.png'); 
  background-position: center top;
   background-repeat: no-repeat; 
   background-size: cover;
   }
// For image design
ion-img {
  height: 150px;
  opacity: 0.1;
}

// For Form
form {
  padding-top: 28px;
  ion-item {
    --padding-start: 0;
    --background: #fafafa;
    ion-label {
      color: gray;
    }
    &:nth-child(3) {
      height: 33px;
      ion-label {
        color: red;
      }
    }
  }
  ion-button {
    text-transform: uppercase;
    color: #fafafa;
  }
}

// For Login, Facebook, Register Buttons
ion-button {
  &:nth-child(3) {
    text-transform: capitalize;
    margin-top: 15px;
  }
  &:nth-child(4) {
    margin-top: 15px;
    --background: #3b5998;
    color: white;
  }
  &:nth-child(5) {
    color: black;
    margin-top: 20px;
    --border-color: black;
    --border-width: thin;
  }
}
ion-item{
  margin-left: 10px;
}
.heading{
  margin-top: 20px;
  padding: 80px 0 40px 0;
 // text-align: center;
}

.heading h1{
  margin: 0 0 3px 0;
  font-weight: bold;
}

.heading p{
  margin: 0;
}

.round-input{
  border-radius: 50px;
   margin-bottom: 20px;
 border: 1px solid #d3d3d3;
}

.forgot{
  margin-top: -15px;
  font-weight: 400;
  font-size: 15px;
}

.btn-yellow{
       --background: var(--ion-color-btn);
       color: #000;
       font-weight: 600;
       margin-top: 30px;
       padding-left: 15px;
       padding-right: 15px;
       text-align: center;
     
}



.sign-up{
  font-size: 13px;
}