ion-slides{
    --bullet-background: black;
    --bullet-background-active: #83af8c;
    min-height: 180;
    border-radius: 15px;

}

ion-slide{
    padding-top: 15px;

}

ion-img {
    border-radius: 15px !important;
}

.banner-slider{
    border-radius: 15px !important;
}



.home-slide{
    margin: 0 15px;
    border-radius: 15px;
}
.slide-content{
    padding: 0;
}
